.form__title > h2 {
  font-weight: bold;
  font-size: 18px;
}

.form__title > button {
  width: 20px;
  height: 20px;
  border: 0;
  background-color: #212529;
  border-radius: 100%;
}

.form__title > button > img {
  width: 10px;
  height: 10px;
  filter: brightness(0) invert(1);
}

.join_form > form {
  margin-top: 20px;
}

.flex-grow {
  flex-grow: 1;
}
.join_form > form input {
  width: 100%;
  padding: 12px;
  background: #f7f8fa;
  font-weight: 500;
  font-size: 13px;
  color: #8a8a8a;
  border: 1px solid #d9d9db;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.join_form .submitBtn {
  width: 150px;
  height: 36px;
  background: #2f6ce5;
  border: 0;
  border-radius: 20px;
  font-weight: 500;
  font-size: 13px;
  color: white;
  text-align: center;
}

.join_form .switchBtn {
  text-decoration: underline;
  font-weight: 500;
  font-size: 13px;
  color: #495057;
  background: transparent;
}

.join_form_btn {
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  padding: 11px;
  text-align: center;
  background: transparent;
  border: 1px solid #d9d9db;
  margin-bottom: 10px;
  color: black;
}

.join_form_btn > img {
  margin-right: 10px;
}

.join_form p {
  margin: 20px auto;
  width: 240px;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.008em;
  color: #212529;
}

.join_form .bold {
  font-weight: 500;
  color: black;
}

.expand {
  width: 100% !important;
}
